
<nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
  <a class="navbar-brand navbar-dark" href="#">Poke Tracker</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/Game/Alpha-Sapphire">Home </a>
      </li>

      <!-- <div *ngFor="let g of gamesToTrack">
        <li class="nav-item">
          <a class="nav-link" href="Game/{{g.gameName.split(' ').join('-')}}">{{g.gameName}}</a>
        </li>
      </div> -->

      <!-- <li class="nav-item">
        <a class="nav-link" href="Settings">Settings</a>
      </li>  -->
    
    </ul>
  </div>
</nav>

<app-scroll-to-top></app-scroll-to-top>
<router-outlet></router-outlet>